body{
    background-color: rgb(26, 30, 31);
}

.container{
    max-width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    align-items: center;
    text-align: center;
    position: relative;
}

.list__item{
    display: none;

}
.san-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
img{
    width: 550px;
    height: 550px;
    border-radius: 30%;
    object-fit: cover;
}



button{
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;

}

#Prev{
    background-color: red;
    color: white;
    padding: 10px 20px;
    position: absolute;
    right: 10px;
    top: 80%;
    transform: translateY(-50%);
}
#Next{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    position: absolute ;
    left: 10px;
    top: 80%;
    transform: translateY(-50%);
}
